.filter-controls {
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-button {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 6px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.filter-button:hover {
    box-shadow: inset 250px 0 0 0 rgba(230, 60, 140, 0.7);
    border-radius: 6px;
    color: white;
}

.filter-button.active {
    background-color: rgba(230, 60, 140, 0.3);
    border-radius: 6px;
    color: rgba(230, 60, 140);
}

h3 {
    font-weight: 600;
}