body {
    font-family: sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

.main-background {
    position: fixed;
    inset: 0;
    z-index: -1;
}

.main {
    padding-top: 60px;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.app-layout {
    display: flex;
    align-items: flex-start;
}

.filter-sidebar {
    position: fixed;
    width: 220px;
    background-color: white;
    padding: 1rem;
    border: 1px solid lightgray;
    height: 100%;
    overflow-y: auto;
    margin-top: -1px;
    margin-left: 1rem;
}

.app {
    flex: 1;
    min-width: 0;
    margin-left: 290px;
    padding-top: 10px;
}

.app h1 {
    color: black;
    font-weight: 900;
    margin-bottom: 0.3rem;
}

.highlight {
    color: rgba(230, 60, 140);
}

.app p {
    font-size: large;
    margin-top: 0.1rem;
    color: gray
}

.statics {
    display: flex;
    gap: 3rem;
    padding: 1rem 0 2rem 0;
}

.layout-toggle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.layout-toggle {
    padding: 0.3rem 0.3rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    background-color: white;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.layout-toggle button {
    padding: 0.6rem 0.8rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 0.85rem;
    cursor: pointer;
    color: black;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.layout-toggle button:hover {
    transform: scale(1.1);
}

.layout-toggle button.active {
    background-color: rgba(230, 60, 140);
    border: 1px solid rgba(230, 60, 140, 0.4);
    color: white;
}

.visible-count {
    font-weight: 500;
    font-size: 14px;
    color: #444;
}

.grid,
.list-view {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 601px) and (max-width: 1024px) { 
    .statics {
        display: inline;
    }
 }

 @media (max-width: 600px) { 
    .statics {
        display: inline;
    }
 }
