.login-container {
  display: grid;
  max-width: 300px;
  margin: 6rem auto;
  padding: 1rem 2rem;
  background: rgba(230,60,140,0.1);
  border: 1px solid rgba(230,60,140,0.2);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-container input,
.login-container button {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  box-sizing: border-box;
  font-size: 1rem;
  border-radius: 4px;
}

.login-container input {
  border: 1px solid #ccc;
}

.login-container button {
  background-color: #e63c8c;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #cc337a;
}

