.list-horizontal {
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
    gap: 1.5rem;
    align-items: flex-start;
    box-sizing: border-box;
    transition: transform 0.2s ease;
}

.list-horizontal:hover {
    transform: scale(1.02);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.list-image {
    width: 84px;
    height: 84px;
    border-radius: 8px;
    object-fit: cover;
    background-color: #eee;
}

.list-info {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    width: 100%;
}

.list-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.list-head h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.average-rating {
    margin-left: 0.5rem;
    color: #d4af37;
    font-size: 1rem;
    font-weight: normal;
    background-color: rgba(255, 223, 0, 0.3);
    border: 1px solid rgba(255, 223, 0, 1);
    border-radius: 25px;
    padding: 0.4rem;
}

.list-tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.list-tag {
    border: 1px solid rgba(230, 60, 140, 0.2);
    color: black;
    padding: 0.3rem 0.6rem;
    border-radius: 25px;
    font-size: 0.8rem;
    margin-top: 0.1rem;
}

.list-tag:hover {
    background-color: rgba(230, 60, 140, 0.1);
}

.button {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.list-visited {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 0.95rem;
}

.list-visited:hover {
    color: rgba(230,60,140);
    font-weight: 600;
}

.list-visited:hover input[type="checkbox"] {
  transform: scale(1.3);
}

.list-reset-button {
    margin-left: 0.5rem;
    padding: 0.3rem 0.75rem;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 100;
    cursor: pointer;
    color: black;
    transition: transform 0.2s ease;
}

.list-reset-button:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}