.statistics-card {
  flex: 1 1 200px;
  border-radius: 12px;
  padding: 1rem;
  color: white;
  transition: transform 0.2s ease, background-image 0.3s ease, color 0.2s ease;
  background-color: white;
}

.statistics-card:hover {
  transform: translateY(-3px);
  background-image: linear-gradient(90deg, var(--gradient-color1), var(--gradient-color2));
}

.statistics-card:hover .stat-value {
  color: white;
}

.statistics-card:hover .stat-label {
  color: white;
}

.statistics-card:not(:hover) {
  background-image: none;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.stat-label {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: black;
}

@media (min-width: 601px) and (max-width: 1024px),
       (max-width: 600px) {
  .statistics-card {
    margin: 1rem 0rem;
    padding: 1rem;
  }
}
